<!-- Search form for events -->
<search id="event-search-form-container" aria-label="Tapahtumahaku">
    <p>Haku ei tee eroa isojen ja pienten kirjainten välillä, mutta ole muuten tarkka kirjoitusasusta.</p>

    <form action="/" method="post" enctype="x-www-form-urlencoded" id="event-search-form">

        <p class="input_container">
            <label for="search_performer" class="loginform-label">Esiintyjä</label>
            <input type="text" id="search_performer_input" name="search_performer" class="loginform-input">
        </p>

        <p class="input_container">
            <label for="search_city" class="loginform-label">Paikkakunta </label>
            <input type="text" id="search_city_input" name="search_city" class="loginform-input">
        </p>

        <p class="input_container">
            <label for="search_place" class="loginform-label">Paikka</label>
            <input type="text" id="search_place_input" name="search_place" class="loginform-input">
        </p>

        <button type="submit" class="submit-login-button">Hae tapahtumat</button>
        <button type="submit" id="show-all-btn" class="submit-login-button">Näytä kaikki</button>

    </form>
</search>