<header class="dark_bg">
    <nav>
        <a href="/" class="logo">Keikalle.com</a>
        {{#if alias}}
            <p style="display: inline;">Olet kirjautunut sisään: {{alias}}</p>
            <button type="button" id="log-out-btn" class="sign-out-btn" onclick="location.href='/logout'">Kirjaudu ulos</button>
            <a href="/profile" id="profile_link">Profiili</a>
        {{/if}}
    </nav>
    <!-- {{#if userPressesLoginButtonShowThis}}
    {{>loginform}}
    {{/if}} -->
</header> 