<header class="dark_bg">
    <!-- Navigation -->
    <nav id="nav-main" role="navigation">
        <div class="sign-in-info">
            <a href="/" class="logo">Keikalle.com</a>
            <a href="/" class="nav-link">Etusivu</a>
        </div>
        <div class="sign-in-info">
            {{#if userId}}
                <p style="display: inline;">Olet kirjautunut sisään: {{alias}}</p>
                <button type="button" id="sign-out-btn" class="sign-out-btn" onclick="location.href='/logout'">Kirjaudu ulos</button>
                <a href="/profile" class="nav-link">Profiili</a>
            {{/if}}
        </div>
    </nav>
</header> 