<header class="dark_bg">
    <nav>
        <a href="/" class="logo">Keikalle.com</a>
        <p style="display: inline;">loput menu items tähän jatkoksi</p>
        <a href="/profile" id="profile_link">Profiili</a>
        <a href="/logout" class="logOut" onclick="userLogOut()">Kirjaudu ulos</a>
    </nav>
    <!-- {{#if userPressesLoginButtonShowThis}}
    {{>loginform}}
    {{/if}} -->
</header> 