<div id="loginForm" style="display: none;">
    <form action="/user/login" method="post" enctype="x-www-form-urlencoded">
        <p>
            <label for="alias" class="loginform-label">Nimimerkki</label>
            <input type="text" class="loginform-input" name="alias" id="alias">
        </p>
        <p>
            <label for="password" class="loginform-label">Salasana</label>
            <input type="text" class="loginform-input" name="password" id="password">
        </p>
        <p>
            <button type="submit" class="submit-login-button">Kirjaudu sisään</button>
        </p>
    </form>
    <p> 
        <button type="submit" class="signUp_button" id="openSignupFormButton" onClick="toggleSignUpForm()">Luo uusi tili</button>
    </p> 
</div>

<input type="button" class="signIn_button" id="openLoginFormButton" onClick="toggleSignInForm()" value="Kirjaudu">