<form action="/user/login" method="post" enctype="x-www-form-urlencoded">
    <input type="text" name="alias" id="alias" value="Nimimerkki">
    <input type="text" name="password" id="password" value="Salasana">
    <input type="submit" value="Kirjaudu sisään">
</form>