<div id="loginForm" style="display: none;">
    <h2>Kirjaudu sis채채n</h2>
    <form action="/user/login" method="post" enctype="x-www-form-urlencoded">
        <p>
            <label for="alias" class="loginform-label">Nimimerkki</label>
            <input type="text" class="loginform-input" name="alias" id="alias">
        </p>
        <p>
            <label for="password" class="loginform-label">Salasana</label>
            <input type="password" class="loginform-input" name="password" id="password">
        </p>
        <p>
            <button type="submit" class="submit-login-button">Kirjaudu sis채채n</button>
        </p>
    </form>
    <button type="button" class="closeMenu_button" onclick="closeAuthenticationArea()">Sulje valikko</button>
</div>
