<div id="signupForm" style="display: none;">
    <form action="/user" method="post" enctype="x-www-form-urlencoded">
        <p>
            <label for="signup_alias" class="loginform-label">Nimimerkki</label>
            <input type="text" class="loginform-input" name="alias" id="signup_alias">
        </p>
        <p>
            <label for="signup_email" class="loginform-label">Sähköposti</label>
            <input type="text" class="loginform-input" name="email" id="signup_email">
        </p>
        <p>
            <label for="signup_password1" class="loginform-label">Salasana</label>
            <input type="password" class="loginform-input" name="password" id="signup_password1">
        </p>
        <p>
            <label for="password2" class="loginform-label">Salasana uudelleen</label>
            <input type="password" class="loginform-input" name="password2" id="signup_password2">
        </p>
        <p>
            <input type="submit" class="submit-login-button" value="Rekisteröidy">
        </p>
    </form>
</div>

