<div id="signupForm" style="display: none;">
    <h2>Rekisteröidy käyttäjäksi</h2>
    <form action="/user" method="post" enctype="x-www-form-urlencoded">
        <p class="input_container">
            <label for="signup_alias" class="loginform-label">Nimimerkki</label>
            <input type="text" class="loginform-input" name="alias" id="signup_alias">
            <span role="text" aria-label="Instructions for filling out the form" class="validation_info">Nimimerkin tulisi olla 3-20 merkkiä pitkä</span>
        </p>

        <p class="input_container">
            <label for="signup_email" class="loginform-label">Sähköposti</label>
            <input type="text" class="loginform-input" name="email" id="signup_email">
            <span role="text" aria-label="Instructions for filling out the form" class="validation_info">Syötä toimiva sähköpostiosoite</span>
        </p>

        <p class="input_container">
            <label for="signup_password1" class="loginform-label">Salasana</label>
            <input type="password" class="loginform-input" name="password" id="signup_password1">
            <span role="text" aria-label="Instructions for filling out the form" class="validation_info">Salasanan pituus vähintään 8 merkkiä</span>
        </p>
        <p class="input_container">
            <label for="password2" class="loginform-label">Salasana uudelleen</label>
            <input type="password" class="loginform-input" name="password2" id="signup_password2">
        </p>

        <p>
            <button type="submit" id="submit-registration-button" class="submit-login-button" disabled="disabled">Rekisteröidy</button>
        </p>
    </form>
    <button type="button" class="closeMenu_button" onclick="closeAuthenticationArea()">Sulje valikko</button>
    <input type="hidden" name="alias-validation-ok" id="signup_alias_ok" value="0">
    <input type="hidden" name="email-validation-ok" id="signup_email_ok" value="0">
    <input type="hidden" name="password-validation-ok" id="signup_password_ok" value="0">
</div>

