{{>header}}

<main class="top_section">
    <article id="accessibility">
        <h1>Saavutettavuusseloste</h1>
        <p>Keikalle.com on sitoutunut edistämään sivuston saavutettavuutta. Sivustomme on testattu
            toimivaksi näppäimistöä, ruudunlukijaohjelmaa, WADE-saavutettavuustyökalua sekä erikokoisia 
            näyttöjä käyttäen. Ylläpidämme ja kehitämme saavutettavuutta jatkuvasti.
        </p>
        <p>Tämä saavutettavuusseloste on laadittu 2.5.2024.</p>

        <section role="region" aria-labelledby="conformance-heading">
            <h2 id="conformance-heading">Saavutettavuuden tila</h2>
            <p><a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines</a> määrittelee
                vaatimukset, jotka verkkosivustojen tulee noudattaa täyttääkseen A-, AA- tai AAA-tason saavutettavuuden,
                joista AAA on tiukin. Keikalle.com saavutettavuustaso on A.
            </p>
        </section>

        <section role="region" aria-labelledby="feedback-heading">
            <h2 id="feedback-heading">Palaute</h2>
            <p>Otamme mielellämme vastaan palautetta, kuinka voisimme parantaa sivuston saavutettavuutta. Voit laittaa
                meille sähköpostia osoitteeseen <a href="mailto:keikalle@keikalle.com">keikalle@keikalle.com</a>.
            </p>
        </section>
    </article>
        
</main>

{{>footer}}