
    {{>header}} 

<article class="top_section">
    <h1>Keikalle</h1>
    <p class="content_width">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non diam malesuada, scelerisque arcu at, consectetur lorem. Proin sollicitudin elit id ante ornare sagittis. Ut est massa, hendrerit vel lorem id, ultrices aliquet ipsum. Sed sem orci, consequat eu maximus eu, mattis et urna. Nunc non lorem auctor, sodales arcu eu, vestibulum mauris. Morbi elit sapien, posuere ac eros non, feugiat interdum ex. Cras tincidunt est nibh, vitae pellentesque nulla pharetra et. Pellentesque erat velit, interdum eget justo at, viverra ultrices ligula. Etiam quis facilisis augue. Sed molestie suscipit urna in posuere.</p>
    {{>loginform}}
    <section id="signIn_form_section">
        Hakulomake tähän
    </section>
</article>

<section aria-labelledby="soonToCome-heading" class="carousel_area dark_bg">
    <h2 id="soonToCome_heading">Tapahtuu pian</h2>
    <div role="region" aria-label="Event Carousel" class="carousel">
        Tähän korttikaruselli tulevista tapahtumista
    </div>
</section>

<section id="event_search" class="event_search">
    <h2>Hae tapahtumia</h2>
    <form id="event_search_form" role="search" aria-label="Event search">
        <p>
            <label for="search_performer">Esiintyjä</label>
            <input type="text" id="search_performer" name="search_performer">
        </p>
        <p>
            <label for="search_city">Paikkakunta </label>
            <input type="text" id="search_city" name="search_city">
        </p>
        <p>
            <label for="search_place" name="search_place">Paikka</label>
            <input type="text" id="search_place" name="search_place">
        </p>
    </form>
    <section id="event_search_results" class="event_search_results">
        Tähän hakutuloksia
    </section>
</section>

<!-- Testilinkki -->
<a href="/user">user</a>

    {{>footer}}

