<h1>Käyttäjän hakemisen testaus tietokannasta</h1>

<div>{{#if users}}
    
    {{info}}

    {{#each users}}
    <p>Alias: {{this.alias}}</p>
    <p>Sähköposti: {{this.email}}</p>
    {{/each}}       
    
    {{else}}
    <p>Käyttäjää ei löytynyt</p>
    {{/if}}

    {{>loginform}}
</div>