/* 
COLORS
#0B354F (Blue)
#182126 (Dark blue, almost black)
#8A8E9B (Grey)
#73D5FF (Accent color light blue)
#fff (White text)

FONT
Inika
*/ 

body {
    background-color: #0B354F;
    font-family: "inika";
    font-size: 16pt;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
}

nav {
    margin: 0;
    padding: 15px;
}

.logo {
    text-decoration: none;
    font-size: 22pt;
    font-weight: bold;
    color: white;
    margin-right: 50px;
}

#profile_link {
    text-decoration: none;
    font-weight: bold;
    color: white;
    float: right;
    margin: 10px;
    padding: 0px;
}

footer {
    font-size: 13pt;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.content_width {
    width: 60%;
}

.dark_bg {
    background-color: #182126;
}

.top_section {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/images/flare.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

h1 {
    font-size: 60pt;
    font-weight: bold;
    text-align: center;
    margin: 40px;
}

h2 {
    font-size: 32pt;
    margin: 30px;
}

.signIn_button {
    cursor: pointer;
    background-color: #73D5FF;
    font-family: "inika";
    font-size: 30pt;
    width: 350px;
    padding: 12px 25px;
    margin: 30px;
    border: 2px solid #182126;
    border-radius: 7px;
}

/* Ei käytössä ainakaan etusivulla tällä hetkellä */
.signUp_button {
    cursor: pointer;
    color: white;
    background-color: #182126;
    font-family: "inika";
    font-size: 20pt;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 7px;
}

.submit-login-button {
    cursor: pointer;
    background-color: #73D5FF;
    font-family: "inika";
    font-size: 20pt;
    padding: 10px 20px;
    margin: 20px;
    border: 2px solid #182126;
    border-radius: 7px;
}

.closeMenu_button {
    cursor: pointer;
    color: white;
    background-color: #182126;
    font-family: "inika";
    font-size: 15pt;
    margin-bottom: 30px;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 7px;
}

.active_button {
    background-color: #47c8ff;
    padding: 15px 30px;
    box-shadow: 0 0 10px #73D5FF;
}

#signIn_form_section {
    display: none;
    height: auto;
}

.input_container {
    margin: 10px 0;
}

.input_container_password {
    padding-top: 5px;
    margin-bottom: 10px;
}

.validation_info {
    font-size: 0.8rem;
    text-align: right;
    margin: 0px 10px;
    padding: 0;
}

.loginform-input {
    font-size: 16pt;
    padding: 5px 10px;
    border: 2px solid #182126;
    border-radius: 7px;
}

.carousel_area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* nämä muotoilut voi poistaa, kunhan on oikeaa karusellisisältöä */
.carousel {
    color: black;
    height: 200px;
    background-color: gainsboro;
    padding: 15px;
    margin: 20px;
}

.event_search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    float: right;
    width: 400px;
    margin-left: 20px;
    padding: 5px;
}

.white_card {
    background-color: white;
    color: #182126;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
}